<mat-form-field appearance="fill" class="province-input-field">
  <mat-label>Province/Territory</mat-label>
  <mat-icon matPrefix *ngIf="!control.value">search</mat-icon> <!-- Search icon prefix -->
  <input type="text"
         placeholder="Select a province/territory"
         aria-label="Province/Territory"
         matInput
         [formControl]="control"
         [matAutocomplete]="autoProvince"> <!-- Use unique ref name -->
  <button mat-icon-button matSuffix *ngIf="control.value" (click)="control.setValue('')" aria-label="Clear province/territory"> <!-- Clear icon suffix -->
    <mat-icon>close</mat-icon>
  </button>
  <mat-autocomplete #autoProvince="matAutocomplete"> <!-- Use unique ref name -->
    <mat-option *ngFor="let province of filteredProvinces | async" [value]="province">
      {{province}}
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="control.hasError('required')">
    Province/Territory is required
  </mat-error>
  <mat-error *ngIf="control.hasError('invalidProvince')"> <!-- Use specific error key -->
    Please select a valid province/territory from the list
  </mat-error>
</mat-form-field>
