<form [formGroup]="form">
<div *ngFor="let section of formConfig">
    <h2>{{ section.name }}</h2>
    <div *ngFor="let subSection of section.subSections">
      <h3>{{ subSection.name }}</h3>
      <div *ngFor="let field of subSection.fields">
        <ng-container [ngSwitch]="field.type">
          <app-email-input *ngSwitchCase="'email'" [control]="$any(form).controls[field.name]"></app-email-input>
          <app-country-input *ngSwitchCase="'country'" [control]="$any(form).controls[field.name]"></app-country-input> <!-- Add country input case -->
          <!-- <app-input-country *ngSwitchCase="'country'" [formControl]="$any(form).controls[field.name]" [disabled]="field.disabled"></app-input-country> -->
          <mat-form-field *ngSwitchDefault>
            <mat-label>{{ field.name }}</mat-label>
            <input matInput [type]="field.type" [formControl]="$any(form).controls[field.name]">
          </mat-form-field>
        </ng-container>
      </div>
    </div>
  </div>
  {{form.status}}
  <button type="submit">Submit</button>
</form>
